{% extends "layout.html" %}

{% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %}

{% block content %}
<header>
  <nav>
    <div class="logo">SHIELD</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
<div class="hero-section">
  <h1>SHIELD</h1>
  <p>Swarm-based High-Impact Emergency Logistics and Detection</p>
  <div class="cta-buttons">
    <button class="cta-button" id="get-started-button"">Get Started</button>
    <button class="cta-button">Learn More</button>
  </div>
</div>
{% endblock %}
